.file-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.file-item-toggle {
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}

.file-item-actions {
    display: inline-flex;
    gap: 0.25rem;
}

.container {
    padding-left: 1rem;
}