html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast-container {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.toast {
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.toast.success {
  background-color: green;
}
.toast.error {
  background-color: red;
}