.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  position: relative;
}

.modal .close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

/* This is just added to understand why we need portal,
such that styles of container does not affect the modal*/
.container { transform: translateZ(0); } 
